version: '3.9'

services:

  java-api:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: java-api
    ports:
      - "8080:8080"
    env_file:
      - ./Backend/.env
    environment:
      SPRING_DATASOURCE_URL: jdbc:h2:file:/data/h2db;MODE=PostgreSQL;DB_CLOSE_DELAY=-1
      SPRING_DATASOURCE_DRIVER_CLASS_NAME: org.h2.Driver
      SPRING_DATASOURCE_USERNAME: sa
      SPRING_DATASOURCE_PASSWORD:
      OPENAI_API_KEY:
      OPENAI_MODEL: gpt-4o-mini
      PYTHON_OCR_URL: http://python-service:8000
      LANGFUSE_PUBLIC_KEY: 
      LANGFUSE_SECRET_KEY: 
      LANGFUSE_BASE_URL: http://host.docker.internal:3001
      LANGFUSE_OTLP_ENDPOINT: http://host.docker.internal:3001/api/public/otel/v1/traces
    volumes:
      - h2-data:/data
      - ./Backend/storage:/storage
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

  react-frontend:
    build:
      context: ./form-data-extractor
      dockerfile: Dockerfile
    container_name: react-frontend
    ports:
      - "3000:80"
    depends_on:
      - java-api
    restart: unless-stopped

  python-service:
    build:
      context: ./ocr-service
      dockerfile: Dockerfile
    container_name: python-service
    ports:
      - "8000:8000"
    env_file:
      - ./ocr-service/.env
    environment:
      - LANGFUSE_PUBLIC_KEY=
      - LANGFUSE_SECRET_KEY=
      - LANGFUSE_HOST=http://host.docker.internal:3001
      - OPENAI_API_KEY=
    restart: unless-stopped
    extra_hosts:
      - "host.docker.internal:host-gateway"

volumes:
  h2-data:
